:root {
  --scrim: rgba(0,0,0,0.2);
  --scrim-dark: rgba(0,0,0,0.8);
  --scrim-white: rgba(255,255,255,0.85);
}

/* text color rules */
.color-white { color: white; }

/* background color rules */
.bg-scrim { background-color: var(--scrim); }
.bg-scrim-dark { background-color: var(--scrim-dark); }

.bg-scrim-white {background-color: var(--scrim-white) }

.border-color-white { border-color: white; }
