:root {
  --blue-1: #56b7e0;
  --blue-2: #44ade2;
  --blue-3: #0281a4;
  --blue-4: #014f84;
  --orange-1: #f68a5d;
  --orange-2: #f47a44;
  --grey-1: #f2f2f2;
  --black: #313334;

  --scrim: rgba(0,0,0,0.2);
  --scrim-dark: rgba(0,0,0,0.8);
  --scrim-white: rgba(255,255,255,0.85);
}

/* text color rules */
.color-white { color: white; }

/* background color rules */
.bg-grey-1 { background-color: var(--grey-1); }
.bg-scrim { background-color: var(--scrim); }
.bg-scrim-dark { background-color: var(--scrim-dark); }

.bg-scrim-white {background-color: var(--scrim-white) }

.border-color-white { border-color: white; }
.border-color-orange { border-color: var(--orange-2);}


