button,
*.btn {
  font-weight: 700;
  padding: .5em 1.5em;
  border-radius: 0;
  background: transparent;
}

.btn--blue {
  border-color: var(--blue-1);
  color: var(--blue-1);
}

.btn--blue:hover {
  color: white;
  background: var(--blue-1);
}

.btn--orange {
  border-color: var(--orange-1);
  color: var(--orange-1);
}

.btn--orange:hover {
  background: var(--orange-1);
  color: white;
}

.btn--white {
  border-color: white;
  color: white;
}

.btn--white:hover {
  background: white;
  color: var(--blue-1);
}


button,
*.btn,
select,
textarea,
input,
input[type='radio'] + label:before,
input[type='checkbox'] + label:before {
  border-width: 3px;
}
select,
textarea,
input {
  border-color: var(--scrim);
}

label {
  font-weight: 700; 
  margin-bottom: .25em;
}

select,
textarea,
input {
  padding: .5em;
}

input[type='checkbox']:checked + label:before,
input[type='search'],
select {
  background-repeat: no-repeat;
}

input[type='search'] {
  padding-left: 2.5em;
  background-image:  url('svgs/search.svg');
  background-position: .5em  center;
}

select {
  padding-right: 2.5em;
  background-image:  url('svgs/triangle-down.svg');
  background-size: 1.25em;
  background-position: calc(100% - .6em)  center;
}

.selectWrapper { position: relative; }

.selectWrapper:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  right: calc(2.5em - 1px);
  top: 0;
}

input[type='checkbox'] + label:before,
input[type='radio'] + label:before {
  content: '';
  margin-right: .5em;
  width: 1em;
  height: 1em;
}

input[type='radio'] + label:before { border-radius: 50%; }
input[type='checkbox'] + label:before { border-radius: 3px; }

input[type='checkbox']:checked + label:before,
input[type='radio']:checked + label:before {
}

input[type='radio']:checked + label:before { border-width: 5px; }

input[type='checkbox']:checked + label:before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image:  url('svgs/check-white.svg');
}

