@font-face {
  font-family: 'custom';
  src:  url('./assets/icons/custom/icons.eot');
  src:  url('./assets/icons/custom/icons.eot') format('embedded-opentype'),
    url('./assets/icons/custom/icons.ttf') format('truetype'),
    url('./assets/icons/custom/icons.woff') format('woff'),
    url('./assets/icons/custom/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-type-custom,
.icon-type-social {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-type-custom { font-family: 'custom' !important; }

.icon-baby:before { content: "\e900"; }
.icon-bowl:before { content: "\e901"; }
.icon-cost:before { content: "\e902"; }
.icon-family:before { content: "\e903"; }
.icon-phone:before { content: "\e904"; }
.icon-pill:before { content: "\e905"; }
.icon-results:before { content: "\e906"; }
.icon-syringe:before { content: "\e907"; }
.icon-training:before { content: "\e908"; }
