.textBoxOverImage__image { width: 80%; 
}
.textBoxOverImage__textBoxWrapper { 
  width: 50%;
}
.textBoxOverImage__textBox { 
  position: relative; 
}

.textBoxOverImage__textBox:after { 
  content: '';
  position: absolute;
  height: 100%;
  top: 1rem;
  z-index: -1;
  border: 3px solid var(--blue-1);
}

.textBoxOverImage__textBox:after,
.textBoxOverImage__image,
.textBoxOverImage__textBoxWrapper { 
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 800px) {
  .textBoxOverImage__textBox:after { 
    width: 100%;
  }
  .textBoxOverImage--left .textBoxOverImage__image { 
    float: right; 
  }
  .textBoxOverImage--right .textBoxOverImage__textBox:after { 
    left: -1rem; 
  }
  .textBoxOverImage--left .textBoxOverImage__textBox:after { 
    right: -1rem; 
  }
  .textBoxOverImage--right .textBoxOverImage__textBoxWrapper { 
    right: 1rem; 
  }

  .textBoxOverImage--left .textBoxOverImage__textBoxWrapper { 
    left: 1rem; 
  }

  .textBoxOverImage__textBoxWrapper {
    top: 50%;
    position: absolute;
  }

  [data-in-view='true'].textBoxOverImage--right .textBoxOverImage__image { 
    animation: slideleft 800ms 200ms forwards;
  }

  [data-in-view='true'].textBoxOverImage--left .textBoxOverImage__image { 
    animation: slideright 800ms 200ms forwards;
  }

  [data-in-view='true'] .textBoxOverImage__textBoxWrapper {
    animation: slideup 800ms 1000ms forwards;
  }

  [data-in-view='true'] .textBoxOverImage__textBox:after {
    animation: fadein 800ms 1800ms forwards;
  }
}


@media (max-width: 1008px) {
  .textBoxOverImage__textBoxWrapper { 
    width: 55%;
  }
}

@media (max-width: 800px) {
  [data-in-view='true'] .textBoxOverImage__image {
    animation: fadein 800ms 200ms forwards;
  }
  [data-in-view='true'] .textBoxOverImage__textBoxWrapper {
    animation: fadein 800ms 1000ms forwards;
  }
  [data-in-view='true'] .textBoxOverImage__textBox:after {
    animation: fadein 800ms 1800ms forwards;
  }
  [data-in-view='true'] .textBoxOverImage__image { 
    width: 100%;
    transform: translateY(0);
  }
  [data-in-view='true'] .textBoxOverImage__textBoxWrapper { 
    width: calc(100%-8rem);
    position: relative;
    transform: translateY(-3rem) translateX(4rem);
    top: 0;
    right: 0;
  }
  .textBoxOverImage__textBox:after { 
    width: calc(100%+2rem);
    left: -1rem;
  }
}

@media (max-width: 600px) {
  [data-in-view='true'] .textBoxOverImage__textBoxWrapper { 
    width: calc(100%-2rem);
    transform: translateY(-2rem) translateX(1rem);
  }
  .textBoxOverImage__textBox:after { 
    display: none;
  }
}

@keyframes slideleft {
  0%   { 
    transform: translateX(-5%) translateZ(0);
    opacity: 0; 
    visibility: hidden;
  }
  100% { 
    transform: translateX(0) translateZ(0);
    opacity: 1; 
    visibility: visible;
  }
}

@keyframes slideright {
  0%   { 
    transform: translateX(5%) translateZ(0);
    opacity: 0; 
    visibility: hidden;
  }
  100% { 
    transform: translateX(0) translateZ(0);
    opacity: 1; 
    visibility: visible;
  }
}

@keyframes slideup {
  0%   { 
    transform: translateY(-45%) translateZ(0);
    opacity: 0; 
    visibility: hidden;
  }
  100% { 
    transform: translateY(-50%) translateZ(0);
    opacity: 1; 
    visibility: visible;
  }
}
