:root {
  --sans: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif; 
  --merri-sans: Merri_Sans, var(--sans);
  --mono: Roboto Mono,Source Code Pro,Menlo,Consolas,Liberation Mono,monospace;
}

@font-face {
  font-family: Merri_Sans;
  src:  url('./assets/fonts/MerriweatherSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Merri_Sans;
  src:  url('./assets/fonts/MerriweatherSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Merri_Sans;
  src:  url('./assets/fonts/MerriweatherSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Merri_Sans;
  src:  url('./assets/fonts/MerriweatherSans-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

body { 
  color: var(--black);
  font-family: var(--merri-sans); 
}

.kern { letter-spacing: .05rem; }
.normal { font-weight: 400;}
.bold { font-weight: 700;}

.mono,
pre,
code, 
samp {
  font-family: var(--mono);
}

/* same max-width as medium.com's articles */
p { max-width: 740px; }

blockquote {
  margin: 0;
  font-style: italic;
  font-size: 1.75rem;
}

@media (--break-md) {
  blockquote {
    font-size: 1.5rem;
  }
}

blockquote:before {content:"\201C";}
blockquote:after {content:"\201D";}
