.btn,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  vertical-align: middle;
  height: auto;
  margin: 0;
  border-style: solid;
  border-radius: 3px;
  user-select: none;
  background: none;
  display: inline-block;
}

