@import '../css/index.css';

.styleToggler {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background: var(--grey-1);
  box-shadow: var(--sh-2);
  max-width: 24rem;
}

@media (width <= 496px) {
  .styleToggler { display: none}
}
